<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/client/favicon.png}">
    <!-- Title -->
    <title data-layout-title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BLUX Dashboards</title>

    <!-- Favicon -->
<!--    <link rel="shortcut icon" th:href="/admin/favicon.png">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{/admin/css/vendor.min.css}">
    <link rel="stylesheet" th:href="@{/admin/vendor/icon-set/style.css}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" th:href="@{/admin/css/theme.min.css?v=1.0}">
</head>

<body class="footer-offset">


    <div th:replace="admin/fragments/header::header"></div>

    <div th:replace="admin/fragments/header::aside"></div>

    <main id="content" role="main" class="main">
        <div layout:fragment="content">

        </div>
    </main>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script th:src="@{/admin/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js}"></script>
    <script th:src="@{/admin/js/demo.js}"></script>
    <script th:src="@{/admin/js/vendor.min.js}"></script>
    <script th:src="@{/admin/vendor/chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{/admin/vendor/chart.js.extensions/chartjs-extensions.js}"></script>
    <script th:src="@{/admin/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js}"></script>
    <script th:src="@{/admin/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js}"></script>
    <script th:src="@{/admin/js/theme.min.js}"></script>

    <th:block layout:fragment="script"></th:block>

    <!-- JS Plugins Init. -->
    <script>

        const baseUrl = "http://localhost:8089/api/admin";
        const pathArray = window.location.pathname.split('/');
        const urlParams = new URLSearchParams(window.location.search);

        const body = document.getElementsByTagName('body')[0],
            isMini =  window.localStorage.getItem('hs-navbar-vertical-aside-mini') === null ? false : window.localStorage.getItem('hs-navbar-vertical-aside-mini');

        if (isMini) {
            body.classList.add('navbar-vertical-aside-mini-mode')
        }

        $(document).on('ready', function () {

            $('a.nav-link').each(function (index) {
                const attr = $(this).attr('href');
                if(attr === window.location.pathname) {
                    $(this).addClass('active');
                    $(this).parents('li.navbar-vertical-aside-has-menu').addClass('show');
                }
            });

            // ONLY DEV
            // =======================================================

            if (window.localStorage.getItem('hs-builder-popover') === null) {
                $('#builderPopover').popover('show')
                    .on('shown.bs.popover', function () {
                        $('.popover').last().addClass('popover-dark')
                    });

                $(document).on('click', '#closeBuilderPopover' , function() {
                    window.localStorage.setItem('hs-builder-popover', true);
                    $('#builderPopover').popover('dispose');
                });
            } else {
                $('#builderPopover').on('show.bs.popover', function () {
                    return false
                });
            }

            // END ONLY DEV
            // =======================================================

            var quill = $.HSCore.components.HSQuill.init('.js-quill');

            $('.js-quantity-counter').each(function () {
                var quantityCounter = new HSQuantityCounter($(this)).init();
            });

            // BUILDER TOGGLE INVOKER
            // =======================================================
            $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
            });



            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();



            // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
            // =======================================================
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();


            // INITIALIZATION OF TOOLTIP IN NAVBAR VERTICAL MENU
            // =======================================================
            $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

            $(".js-nav-tooltip-link").on("show.bs.tooltip", function(e) {
                if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                    return false;
                }
            });


            // INITIALIZATION OF UNFOLD
            // =======================================================
            $('.js-hs-unfold-invoker').each(function () {
                var unfold = new HSUnfold($(this)).init();
            });


            // INITIALIZATION OF FORM SEARCH
            // =======================================================
            $('.js-form-search').each(function () {
                new HSFormSearch($(this)).init()
            });


            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-select2-custom').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });


            // INITIALIZATION OF CHARTJS
            // =======================================================
            Chart.plugins.unregister(ChartDataLabels);

            $('.js-chart').each(function () {
                $.HSCore.components.HSChartJS.init($(this));
            });

            var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'));

            $('.js-daterangepicker').daterangepicker();

            $('.js-daterangepicker-times').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'M/DD hh:mm A'
                }
            });

            var start = moment();
            var end = moment();

            function cbTheaterCluster(start, end) {
                $('#js-daterangepicker-predefined-theater-cluster .js-daterangepicker-predefined-preview-theater-cluster').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
            }

            $('#js-daterangepicker-predefined-theater-cluster').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()]
                }
            }, cbTheaterCluster);

            cbTheaterCluster(start, end);

            function cbMovies(start, end) {
                $('#js-daterangepicker-predefined-movies .js-daterangepicker-predefined-preview-movies').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
            }

            $('#js-daterangepicker-predefined-movies').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()]
                }
            }, cbMovies);

            cbMovies(start, end);

            // INITIALIZATION OF DROPZONE FILE ATTACH MODULE
            // =======================================================
            $('.js-dropzone').each(function () {
                var dropzone = $.HSCore.components.HSDropzone.init('#' + $(this).attr('id'));
            });

            // INITIALIZATION OF FLATPICKR
            // =======================================================
            $('.js-flatpickr').each(function () {
                $.HSCore.components.HSFlatpickr.init($(this));
            });

            // INITIALIZATION OF BUBBLE CHARTJS WITH DATALABELS PLUGIN
            // =======================================================
            $('.js-chart-datalabels').each(function () {
                $.HSCore.components.HSChartJS.init($(this), {
                    plugins: [ChartDataLabels],
                    options: {
                        plugins: {
                            datalabels: {
                                anchor: function(context) {
                                    var value = context.dataset.data[context.dataIndex];
                                    return value.r < 20 ? 'end' : 'center';
                                },
                                align: function(context) {
                                    var value = context.dataset.data[context.dataIndex];
                                    return value.r < 20 ? 'end' : 'center';
                                },
                                color: function(context) {
                                    var value = context.dataset.data[context.dataIndex];
                                    return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                                },
                                font: function(context) {
                                    var value = context.dataset.data[context.dataIndex],
                                        fontSize = 25;

                                    if (value.r > 50) {
                                        fontSize = 35;
                                    }

                                    if (value.r > 70) {
                                        fontSize = 55;
                                    }

                                    return {
                                        weight: 'lighter',
                                        size: fontSize
                                    };
                                },
                                offset: 2,
                                padding: 0
                            }
                        }
                    },
                });
            });


            // INITIALIZATION OF DATERANGEPICKER
            // =======================================================
            $('.js-daterangepicker').daterangepicker();

            $('.js-daterangepicker-times').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'M/DD hh:mm A'
                }
            });

            var start = moment();
            var end = moment();

            function cbTheaterCluster(start, end) {
                var start_date = new Date(start);
                var end_date = new Date(end);

                //set value for date when statistics theater cluster
                $('#date_start_cluster').val(start_date);
                $('#date_end_cluster').val(end_date);

                if(start_date.getDate() === end_date.getDate())
                {
                    $('#js-daterangepicker-predefined-theater-cluster .js-daterangepicker-predefined-preview-theater-cluster').html(start.format('DD-MM-YYYY'));
                }
                else
                {
                    $('#js-daterangepicker-predefined-theater-cluster .js-daterangepicker-predefined-preview-theater-cluster').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
                }
            }

            $('#js-daterangepicker-predefined-theater-cluster').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Hôm Nay': [moment(), moment()],
                }
            }, cbTheaterCluster);

            cbTheaterCluster(start, end);

            function cbMovies(start, end) {
                var start_date = new Date(start);
                var end_date = new Date(end);
                //set value for date when statistic movies
                $('#date_start_movies').val(start_date);
                $('#date_end_movies').val(end_date);

                if(start_date.getDate() === end_date.getDate())
                {
                    $('#js-daterangepicker-predefined-movies .js-daterangepicker-predefined-preview-movies').html(start.format('DD-MM-YYYY'));
                }
                else
                {
                    $('#js-daterangepicker-predefined-movies .js-daterangepicker-predefined-preview-movies').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
                }
            }

            $('#js-daterangepicker-predefined-movies').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Hôm Nay': [moment(), moment()],
                }
            }, cbMovies);

            cbMovies(start, end);

            // INITIALIZATION OF DATATABLES
            // =======================================================
            var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableCheckAll',
                        counter: '#datatableCounter',
                        counterInfo: '#datatableCounterInfo'
                    }
                },
                language: {
                    zeroRecords: '<div class="text-center p-4">' +
                        '<img class="mb-3" src="/admin/assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                        '<p class="mb-0">No data to show</p>' +
                        '</div>'
                }
            });


            $('#datatableSearch').on('mouseup', function (e) {
                var $input = $(this),
                    oldValue = $input.val();

                if (oldValue == "") return;

                setTimeout(function(){
                    var newValue = $input.val();

                    if (newValue == ""){
                        // Gotcha
                        datatable.search('').draw();
                    }
                }, 1);
            });


            // INITIALIZATION OF CLIPBOARD
            // =======================================================
            $('.js-clipboard').each(function() {
                var clipboard = $.HSCore.components.HSClipboard.init(this);
            });

            $('a.btn.btn-sm.btn-danger').click(function() {
                var href = $(this).attr('href');
                $('#btnConfirm').attr('href', href);
            });

        });

        function toast() {
            $('#toast').toast({
                delay: 2000
            });

            $('#toast').toast('show');
        }

    </script>

</body>

</html>