<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <form action="http://localhost:8089/api/gdrive/upload" method="POST" enctype="multipart/form-data">
        <input name="test123" type="text">
        <label for="file">select image:</label>
        <input id="file" name="files" type="file" accept="image/*" multiple>
        <button id="submit" type="submit">Submit</button>
    </form>

    <script>
        $('#submit').on('click', async (e) => {
           e.preventDefault();

            const files = document.querySelector('#file');

            const formData = new FormData();

            for( let i = 0; i < files.files.length; i++ ){
                let file = files.files[i];
                console.log(file);
                formData.append('files[]', file);
            }


            await axios({
                method: 'post',
                url: 'http://localhost:8089/api/gdrive/upload',
                data: formData,
                headers: { "Content-Type": "multipart/form-data" }
            });
        });
    </script>

</body>
</html>