<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>

<body>

  <!-- Middle sec -->
  <div th:fragment="middle-header" class="middle-header">
      <div class="container-fluid" style="height: 100px;">
          <div class="row align-items-center" style="height: 100%;">
              <div class="col-lg-2 col-6">
                  <div class="searchbar">
                      <form action="/search" method="GET">
                          <div class="input-group" style="width: 300px;">
                              <input type="text" name="q" id="searchInput" class="form-control" placeholder="Tìm kiếm sản phẩm">
                              <div class="input-group-append">
                                  <button type="submit">
                                      <i class="far fa-search"></i>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="mobile-logo">
                      <a href="#">
                          <img th:src="@{/client/img/logo.png}" class="img-fluid" alt="logo">
                      </a>
                  </div>
              </div>
              <div class="col-lg-8 hide-on-mobile">
                  <div class="middle-navigation">
                      <nav>
                          <ul class="main-navigation">
                              <li class="logo">
                                  <a href="/">
                                      <img th:src="@{/client/img/logo.png}" class="img-fluid" alt="logo">
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-2 col-6">
                  <div class="header-controls">
                      <ul>
                          <li id="authDropdown" class="dropdown-btn">
                              <a href="javascript:void(0)">
                                  <i style="padding-right: 5px;" class="far fa-user"></i>
                              </a>
                              <div id="userIcon" class="dropdown-menu cart-dropdown-menu" style="width: 200px;">
                                  <ul class="cart-items-box">

                                  </ul>
                              </div>
                          </li>

                          <li class="dropdown-btn">
                              <a href="#">
                                  <i class="far fa-shopping-cart"></i>
                              </a>
                              <div id="cartDropdown" class="dropdown-menu cart-dropdown-menu">
                                  <ul id="items" class="cart-items-box">
                                  </ul>
                                  <div class="cart-items-box">
                                      <div id="total" class="cart-item">
                                          <span>Tạm tính</span>
                                          <span style="font-family: Roboto"></span>
                                      </div>
                                      <div class="cart-item actions">
                                          <a th:href="@{/cart}" class="btn-custom btn-sm">Giỏ Hàng</a>
                                          <a th:href="@{/checkout}" class="btn-custom btn-sm">Thanh Toán</a>
                                      </div>
                                  </div>
                              </div>
                          </li>

                          <li class="aside-toggler aside-trigger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Bottom sec -->
  <div th:fragment="bottom-header" class="bottom-header">
      <div class="container">
          <div class="bottom-navigation">
              <nav>
                  <ul id="categoryNav" class="main-navigation">
                  </ul>
              </nav>
          </div>
      </div>
  </div>

</body>

</html>