<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layout.html}">
<head>
  <title></title>
<body>

    <section layout:fragment="content">

        <div class="section">
            <div class="container">
                <div class="row">
                    <!-- Images -->
                    <div class="col-lg-6 col-md-5">

                        <div class="detail-page-slider-for"></div>

                        <div class="detail-page-slider-nav mt-3"></div>

                    </div>
                    <!-- End Images -->

                    <div class="col-lg-5 col-md-7 ml-5">
                        <div class="shop-detail-wrapper">

                            <div class="shop-social-icons">
                                <a href="#" class="add-to-favorite" data-toggle="tooltip" title="Yêu thích">
                                    <i class="far fa-heart"></i>
                                </a>
                                <ul class="icon-box">
                                    <li class="mt-0">
                                        <a href="#" data-toggle="tooltip" title="Chia sẻ trên FaceBook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="mt-0">
                                        <a href="#" data-toggle="tooltip" title="Chia sẻ trên Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="mt-0">
                                        <a href="#" data-toggle="tooltip" title="Chia sẻ trên Linkedin">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="shop-detail-title"><h3 class="mb-0"></h3></div>

                            <div class="rating d-flex">
                                <div class="acr-rating">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                </div>
                                <span>2 đánh giá</span>
                            </div>

                            <div class="product-price-box"><span class="product-price"></span></div>

                            <div class="product-variation-form">
                                <div class="shop-button-box">
                                    <div class="qty-box">
                                        <span class="qty-subtract"><i class="fa fa-minus"></i></span>

                                        <input type="text" id="quantity" name="qty" value="1">

                                        <span class="qty-add"><i class="fa fa-plus"></i></span>
                                    </div>

<!--                                    <a href="javascript:void(0)" class="btn-custom primary">Thêm Vào Giỏ Hàng</a>-->
                                </div>
                            </div>

                            <ul class="product-extra-info">
                                <li>
                                    <span>SKU: </span>
                                    <div id="sku" class="product-info-item"
                                         style="text-transform: uppercase; font-family: Roboto; font-weight: 500;"></div>
                                </li>
                                <li>
                                    <span>Loại: </span>
                                    <div id="category" class="product-info-item">
                                        <a href="#"></a>
                                    </div>
                                </li>
                                <li>
                                    <span>Tag: </span>
                                    <div class="product-info-item">
                                        <a href="#">Scacco Diamond Ring</a>,
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section pt-0">
            <div class="container">
                <div class="product-additional-info">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="nav product-sticky-sec" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"data-toggle="pill" href="#tab-desc" role="tab" aria-controls="tab-product-desc" aria-selected="true">Mô Tả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-info" role="tab" aria-controls="tab-product-info" aria-selected="false">Chi Tiết Sản Phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-reviews" role="tab" aria-controls="tab-product-reviews" aria-selected="false">Đánh Giá (25)</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-8">
                            <div class="tab-content" id="bordered-tabContent">
                                <div class="tab-pane fade show active" id="tab-desc" role="tabpanel" aria-labelledby="tab-product-desc-tab"></div>

                                <div class="tab-pane fade" id="tab-info" role="tabpanel" aria-labelledby="tab-product-info-tab">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 50%;">Thuộc Tính</th>
                                                <th scope="col">Giá Trị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="goldWeight">
                                                <td><strong>Khối Lượng</strong></td>

                                            </tr>
                                            <tr id="goldType">
                                                <td><strong>Loại Vàng (%)</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-product-reviews-tab">
                                    <div class="comment-form">
                                        <h4>Leave a Review</h4>
                                        <form method="post">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" placeholder="Full Name" name="fname" value="">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label>Email Address</label>
                                                    <input type="email" class="form-control" placeholder="Email Address" name="email" value="">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <label>Your Message</label>
                                                    <textarea class="form-control" placeholder="Type your comment..." name="comment" rows="7"></textarea>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="sendNotifications">
                                                        <label class="custom-control-label fw-400" for="sendNotifications">Notify me when I receive a reply to my comment</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn-custom primary" name="button">Post Review</button>
                                        </form>
                                    </div>
                                    <div class="comments-list">
                                        <ul>
                                            <li class="comment-item">
                                                <img th:src="@{/client/img/people/1.jpg}" alt="comment author">
                                                <div class="comment-body">
                                                    <h5>Randy Blue</h5>
                                                    <span>Posted on: January 13 2020</span>
                                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                                    <a href="#" class="reply-link"> Reply </a>
                                                </div>
                                                <ul>
                                                    <li class="comment-item">
                                                        <img th:src="@{/client/img/people/3.jpg}" alt="comment author">
                                                        <div class="comment-body">
                                                            <h5>Melany frank</h5>
                                                            <span>Posted on: January 13 2020</span>
                                                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches</p>
                                                            <a href="#" class="reply-link"> Reply </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="comment-item">
                                                <img th:src="@{/client/img/people/2.jpg}" alt="comment author">
                                                <div class="comment-body">
                                                    <h5>Heather Mclayn</h5>
                                                    <span>Posted on: January 13 2020</span>
                                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches</p>
                                                    <a href="#" class="reply-link"> Reply </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->

        <!-- Related Products Start -->
        <div class="section section-padding pt-0 products">
            <div class="container">

                <div class="section-title-wrap section-header flex-header">
                    <div class="section-title-text">
                        <h2 class="title">Trang Sức Cùng Loại</h2>
                    </div>
                    <div class="acr-arrows primary-arrows">
                        <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
                        <i class="slider-next fas fa-arrow-right slick-arrow"></i>
                    </div>
                </div>

                <div class="products-slider">

                    <!-- Product Start -->
                    <div class="product">
                        <div class="product-thumbnail">
                            <a href="product-details-v1.html"><img th:src="@{/client/img/products/1.jpg}" alt="product"></a>
                            <div class="product-badges">
                                <span class="product-badge featured"> <i class="fas fa-star"></i> </span>
                                <span class="product-badge stock"> Out of Stock</span>
                            </div>
                            <div class="product-controls">
                                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                                <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                <a href="#" data-toggle="modal" data-target="#quickViewModal" class="quick-view"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <h5 class="product-title"> <a href="product-details-v1.html" title="Blue Blast">Scacco Diamond Ring</a> </h5>
                            <div class="acr-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                            </div>
                            <span class="product-price">5$ <span>7$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="product-gallery-wrapper">
                                <a href="product-details-v1.html" class="btn-custom btn-sm secondary">Add to Cart</a>
                                <a href="#" data-toggle="tooltip" title="Gallery" class="product-gallery"> <i class="fas fa-camera"></i> </a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->

                    <!-- Product Start -->
                    <div class="product">
                        <div class="product-thumbnail">
                            <a href="product-details-v1.html"><img th:src="@{/client/img/products/1.jpg}" alt="product"></a>
                            <div class="product-badges">
                                <span class="product-badge featured"> <i class="fas fa-star"></i> </span>
                                <span class="product-badge stock"> Out of Stock</span>
                            </div>
                            <div class="product-controls">
                                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                                <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                <a href="#" data-toggle="modal" data-target="#quickViewModal" class="quick-view"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <h5 class="product-title"> <a href="product-details-v1.html" title="Blue Blast">Scacco Diamond Ring</a> </h5>
                            <div class="acr-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                            </div>
                            <span class="product-price">5$ <span>7$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="product-gallery-wrapper">
                                <a href="product-details-v1.html" class="btn-custom btn-sm secondary">Add to Cart</a>
                                <a href="#" data-toggle="tooltip" title="Gallery" class="product-gallery"> <i class="fas fa-camera"></i> </a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->

                    <!-- Product Start -->
                    <div class="product">
                        <div class="product-thumbnail">
                            <a href="product-details-v1.html"><img th:src="@{/client/img/products/1.jpg}" alt="product"></a>
                            <div class="product-badges">
                                <span class="product-badge featured"> <i class="fas fa-star"></i> </span>
                                <span class="product-badge stock"> Out of Stock</span>
                            </div>
                            <div class="product-controls">
                                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                                <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                <a href="#" data-toggle="modal" data-target="#quickViewModal" class="quick-view"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <h5 class="product-title"> <a href="product-details-v1.html" title="Blue Blast">Scacco Diamond Ring</a> </h5>
                            <div class="acr-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                            </div>
                            <span class="product-price">5$ <span>7$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="product-gallery-wrapper">
                                <a href="product-details-v1.html" class="btn-custom btn-sm secondary">Add to Cart</a>
                                <a href="#" data-toggle="tooltip" title="Gallery" class="product-gallery"> <i class="fas fa-camera"></i> </a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->

                    <!-- Product Start -->
                    <div class="product">
                        <div class="product-thumbnail">
                            <a href="product-details-v1.html"><img th:src="@{/client/img/products/1.jpg}" alt="product"></a>
                            <div class="product-badges">
                                <span class="product-badge featured"> <i class="fas fa-star"></i> </span>
                                <span class="product-badge stock"> Out of Stock</span>
                            </div>
                            <div class="product-controls">
                                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                                <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                <a href="#" data-toggle="modal" data-target="#quickViewModal" class="quick-view"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <h5 class="product-title"> <a href="product-details-v1.html" title="Blue Blast">Scacco Diamond Ring</a> </h5>
                            <div class="acr-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                            </div>
                            <span class="product-price">5$ <span>7$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="product-gallery-wrapper">
                                <a href="product-details-v1.html" class="btn-custom btn-sm secondary">Add to Cart</a>
                                <a href="#" data-toggle="tooltip" title="Gallery" class="product-gallery"> <i class="fas fa-camera"></i> </a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->

                </div>
            </div>
        </div>
        <!-- Related Products End -->
    </section>

    <th:block layout:fragment="script">

        <script th:src="@{/client/js/product/details.js}"></script>

        <script>
            $(async function () {
                await axios.get(baseUrl + "/products/" + pathArray.slice(-1))
                    .then((res) => {
                        renderProductDetails(res.data.content);
                    })
                    .catch((error) => {
                        if(error.response.status === 400 || error.response.status === 500) {
                            window.location = '/trang-suc';
                        }
                    });
            });
        </script>

        <script>
            $('body').on('click', '.product-variation-form .btn-custom.primary', async () => {
                if(localStorage.getItem('access_token')) {
                    const item = {productSku: $('#sku').text(), quantity: $('#quantity').val()};
                    await axios.put(baseUrl + '/carts/mine/items', item, {
                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('access_token')}`
                        }
                    }).then((res) => {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'bottom-right',
                            iconColor: 'white',
                            customClass: {
                                popup: 'colored-toast'
                            },
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true
                        });
                        Toast.fire({
                            icon: 'success',
                            title: 'Thêm vào giỏ hàng thành công'
                        });

                        renderCartDropdown(res.data.content);
                    }).catch((error) => {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'bottom-right',
                            iconColor: 'white',
                            customClass: {
                                popup: 'colored-toast'
                            },
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true
                        });
                        Toast.fire({
                            icon: 'error',
                            title: error.response.data.errors[0].defaultMessage
                        });
                    });
                } else {
                    window.location = '/login';
                }
            });
        </script>

    </th:block>

</body>
</html>