<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layout.html}">
<head>
    <title>Sản phẩm</title>
<body>

    <section layout:fragment="content">
        <!-- Subheader Start -->
        <div class="subheader bg-cover bg-center dark-overlay" style="padding: 290px 0 30px;"
             th:style="'background-image: url(/client/img/subheader.jpg);'"
             th:styleappend="'padding: 290px 0 30px'">
            <div class="container">
                <div class="subheader-inner">
                    <h1 class="text-white">Danh sách sản phẩm</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"> <i class="fas fa-home"></i> </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->

        <div style="margin-top: 50px;" class="container centered">
            <div style="width: 100%;
                        background-color: #fff;
                        padding: 20px 20px 0;
                        border-radius: 8px;
                        border: 1px solid rgba(0,0,0,.1);" class="acr-filter-form">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group acr-custom-select">
                                <label>Loại sản phẩm: </label>
                                <select class="acr-select2" id="categoryFilter">
                                    <option value=""></option>
                                    <option value="all">Tất cả</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group acr-custom-select">
                                <label>Loại vàng: </label>
                                <select class="acr-select2" id="goldTypeFilter">
                                    <option value=""></option>
                                    <option value="all">Tất cả</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group acr-custom-select">
                                <label>Giá: </label>
                                <select class="acr-select2" name="price">
                                    <option value=""></option>
                                    <option selected value="*">Tất cả</option>
                                    <option value="2000-5000">2 - 5 TRIỆU</option>
                                    <option value="10000-30000">10 - 30 TRIỆU</option>
                                    <option value="30000-50000">30 - 50 TRIỆU</option>
                                    <option value="50000">TRÊN 50 TRIỆU</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Jewelry Start -->
        <div style="padding-top: 50px;" class="section">
            <div class="container">

                <div class="row">

                    <!-- Posts Start -->
                    <div class="col-lg-12">

                        <div id="products" class="row">

                        </div>

                        <!-- Pagination Start -->
                        <ul id="pagination" class="pagination">

                        </ul>
                        <!-- Pagination End -->
                    </div>
                    <!-- Posts End -->
                </div>

            </div>
        </div>
        <!-- Jewelry End -->

    </section>

    <th:block layout:fragment="script">

        <script th:src="@{/client/js/product/product.js}"></script>

    </th:block>

</body>
</html>