<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
<head>
    <title>Giỏ hàng</title>
<body>

    <section layout:fragment="content">
        <!-- Subheader Start -->
        <div class="subheader bg-cover bg-center dark-overlay" style="padding: 290px 0 30px;"
             th:style="'background-image: url(/client/img/subheader.jpg);'"
             th:styleappend="'padding: 290px 0 30px'">
            <div class="container">
                <div class="subheader-inner">
                    <h1 class="text-white">Giỏ hàng</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"> <i class="fas fa-home"></i> </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->

        <!-- Checkout Start -->
        <div class="section checkout-sec cart-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="checkout-table">
                            <table id="cart">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row">

                            <div class="col-5">
                                <div class="coupen-code-wrapper">
                                    <h4>Mã giảm giá</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mã giảm giá" name="coupen" value="">
                                    </div>
                                    <button type="submit" class="btn-custom primary">Áp Dụng</button>
                                </div>
                            </div>

                            <div class="col-7">
                                <div class="coupen-code-wrapper">
                                    <h4>Tổng tiền</h4>
                                    <table id="total">
                                        <tbody>
                                            <tr>
                                                <th>Tạm tính</th>
                                                <td style="font-family: Roboto"></td>
                                            </tr>
                                            <tr>
                                                <th>Giảm giá</th>
                                                <td style="font-family: Roboto">0.0đ</td>
                                            </tr>
                                            <tr>
                                                <th>Phí giao hàng</th>
                                                <td>Miễn phí</td>
                                            </tr>
                                            <tr>
                                                <th>Tổng</th>
                                                <td>
                                                    <strong style="font-family: Roboto"></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <a th:href="@{/checkout}" class="btn-custom primary btn-block">Thanh Toán</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->

    </section>

    <th:block layout:fragment="script">

        <script th:src="@{/client/js/shopping/cart.js}"></script>

        <script>

            $(document).ready(async () => {
                const accessToken = localStorage.getItem('access_token');
                if(accessToken) {
                    const cart = JSON.parse(localStorage.getItem('cart'));
                    if(cart) {
                        await renderCartTable(cart);
                    }
                } else {
                    window.location = '/login';
                }
            });

        </script>

    </th:block>

</body>
</html>